<nav class="nav flex flex-wrap md:h-20 h-16 items-center justify-between px-4 fixed w-full top-0 z-50 <%= is_home ? 'bg-transparent ' : 'bg-darkgreen' %>">
  <%= link_to root_path do %>
    <%= small_logo unless is_home %>
  <% end %>
</nav>
