<div class="banner">
  <div class="container mx-auto h-full flex flex-col items-center justify-center w-50">
    <div class='text-center'>
      <%= logo width: '300px', style: 'margin: 0 auto' %>
      <h1 class='semibold text-white text-4xl uppercase text-opacity-80 pt-4'>Help create the change</h1>
    </div>
    <div>
      <a href="" class="btn btn-primary"> test</a>
    </div>
  </div>
</div>
