<html>
  <head>
    <style>
      body {
        background-color: #299D90;
        color: #F7D383;
        padding: 4rem 2rem;
      }

      .text-center {
        text-align: center;
      }
    </style>
  </head>
  <body class="text-center">
    <h1>
      You need a working internet connection to use Amandla
    </h1>
    <p>
      Offline mode is not supported yet
    </p>
  </body>
</html>
