@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/index";
@import "config/index";


.content-container {
  margin-top: theme('spacing.12');
  min-height: calc(100vh - theme('spacing.12'));
  @screen md {
    margin-top: theme('spacing.16');
    min-height: calc(100vh - theme('spacing.20'));
  }
}
